<style>
    #wrapper{
      background-color: #6c757d;
      height:565px;
    } 
  </style> 
  <script src="path/to/chartjs/dist/Chart.js"></script>
  <script src="node_modules/chart.js/Chart.min.js"></script>
  <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
  <div id=wrapper>
    <h1>Your Calculated Calories for today are: {{calories}}</h1>
    <h1>Your calculated protein are: {{protein}}</h1>
    <h1>Your calculated carbs are: {{carbs}}</h1>
    <h1> Your calculated Fats are: {{fats}}</h1>
    <div *ngIf="chart">
    <canvas id="pie" class="chart chart-pie"
    chart-data="data" chart-labels="labels" chart-options="options">
    {{chart}}</canvas> 
  </div> 
  </div>