<div *ngIf= "logged == true">
<style>
  #wrapper{
    background-color: #6c757d;
    height:592px;
  }
</style>
<div id=wrapper>
<div class="p-3 mb-2 bg-secondary text-white">
  <div *ngIf="hasSchedule == true">

    <h2>Welcome {{user.first_name}} to your Schedule!</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Time</th>
            <th scope="col">Meal/Activity</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{user.schedule[0].Breakfast_time}}</td>
            <td> <button type="button" class="btn btn-info" [routerLink]="['/meal', schedule._id]">Breakfast</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>{{user.schedule[0].Lunch_time}}</td>
            <td> <button type="button" class="btn btn-info"  [routerLink]="['/lunch', schedule._id]">Lunch</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>{{user.schedule[0].Dinner_time}}</td>
            <td> <button type="button" class="btn btn-info"  [routerLink]="['/dinner', schedule._id]">Dinner</button></td>
          </tr>
        </tbody>
      </table>
  <!-- <button type="button" class="btn btn-info" [routerLink]="['/calc']">Calculate Calories</button>&nbsp;
  <button type="button" class="btn btn-info" [routerLink]="['/today', schedule._id]">Today's Food</button>&nbsp;
  <button type="button" class="btn btn-info" [routerLink]="['/settings', schedule._id]">Edit Schedule</button> -->
  </div>
  <div *ngIf="hasSchedule == false">
    <button type="button" class="btn btn-primary btn-lg btn-block" [routerLink] = "['/addSchedule']">Add Schedule</button>
  </div>
  </div>
  <script src="http://platform.fatsecret.com/js?key=14679b4a576345ca8e99efcf53ffaa91&auto_load=true"></script>
</div>
</div>