<script src="http://platform.fatsecret.com/js/?key=14679b4a576345ca8e99efcf53ffaa91&auto_load=true"></script>
<!--The content below is only a placeholder and can be replaced.-->
  <style>
    h1{
      text-align: center;
    }
  </style>
  <h1 >
    Welcome to {{ title }}!
  </h1>
  <script src="http://platform.fatsecret.com/js?key=14679b4a576345ca8e99efcf53ffaa91&auto_load=true"></script>
  <h2>Schedule</h2>
  <table border='1'>
    <tr>
      <th>Breakfast</th>
      <th>Lunch</th>
      <th>Dinner</th>
      <th>Snack</th>
    </tr>
    <tr>
      <td><a href="">Add Breakfast</a></td>
      <td><a href="">Add Lunch</a></td>
      <td><a href="">Add Dinner</a></td>
      <td><a href="">Add Snack</a></td>
    </tr>
  </table>
<router-outlet></router-outlet>