<script src="http://platform.fatsecret.com/js/?key=14679b4a576345ca8e99efcf53ffaa91&auto_load=true"></script>
<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <style>
    body, html {
    height: 100%;
}
    h1{
      text-align: center;
    }
  </style>
  <div class="p-3 mb-2 bg-secondary text-white">
  <h1 >
    Welcome to {{ title }}!
  </h1>
  <div *ngIf="schedule">

    <h2>Schedule</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Time</th>
            <th scope="col">Meal/Activity</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{schedule.Breakfast}}</td>
            <td>Breakfast</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>{{schedule.Lunch}}</td>
            <td>Lunch</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>{{schedule.Dinner}}</td>
            <td>Dinner</td>
          </tr>
        </tbody>
      </table>
  <button type="button" class="btn btn-info">Calculate Calories</button>&nbsp;
  <button type="button" class="btn btn-info">Today's Food</button>&nbsp;
  <button type="button" class="btn btn-info" [routerLink]="['/settings']">Edit Scheudle</button>
  </div>
  <div *ngIf="hasSchedule == false">
    <button [routerLink] = "['/addSchedule']">Add Schedule</button>
  </div>
  <script src="http://platform.fatsecret.com/js?key=14679b4a576345ca8e99efcf53ffaa91&auto_load=true"></script>
</div>
<router-outlet></router-outlet>