<style>
  #wrapper{
    background-color: #6c757d;
    height:565px;
  }
</style>
<div id=wrapper>
  <div class="p-3 mb-2 bg-secondary text-white">
  <h1>Todays Food</h1>
  <h2>Breakfast</h2>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Calories</th>
          <th scope="col">Protein</th>
          <th scope="col">Fat</th>
          <th scope="col">Carbs</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of Breakfast">
          <td>{{b.name}}</td>
          <td>{{b.calories}}</td>
          <td>{{b.protein}}</td>
          <td>{{b.fat}}</td>
          <td>{{b.carbs}}</td>
        </tr>
      </tbody>
    </table>
    <h2>Lunch</h2>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Calories</th>
          <th scope="col">Protein</th>
          <th scope="col">Fat</th>
          <th scope="col">Carbs</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of Lunch">
          <td>{{l.name}}</td>
          <td>{{l.calories}}</td>
          <td>{{l.protein}}</td>
          <td>{{l.fat}}</td>
          <td>{{l.carbs}}</td>
        </tr>
      </tbody>
    </table>
    <h2>Dinner</h2>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Calories</th>
          <th scope="col">Protein</th>
          <th scope="col">Fat</th>
          <th scope="col">Carbs</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of Dinner">
          <td>{{d.name}}</td>
          <td>{{d.calories}}</td>
          <td>{{d.protein}}</td>
          <td>{{d.fat}}</td>
          <td>{{d.carbs}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>